<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>FSWD P4 - Hangman</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    {% if user %}
    <strong>Letters Guessed:</strong>
    <br>
    {% for guess in guesses %}
      <span class="guessed-letter">{{ guess.content }}</span>
    {% endfor %}
    <br>

    <form action="/sign?game_name={{ game_name }}" method="post">
      <select name="content">
        {% for letter in letters %}
        <option value="{{ letter }}">{{ letter }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit Guess">
    </form>

    <hr>
<!--
    <form>This will be removed because each player can only have one game at a time...:
      <input value="{{ player_name }}" name="player_name">
      <input type="submit" value="switch">
    </form>
-->
    {% endif %}

    <div class="login">
      <a class="login-button" href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>

  </body>
</html>
{% endautoescape %}