body {
  font-family: Verdana, Helvetica, sans-serif;
  padding-left: 30px;
}

.guessed-letter {
	font-size: 2em;
    background-color: #cdcdcd;
}

.login {
	width: 100%;
	text-align: left;
	padding-top: 30px;
}

.login-button {
	font-size: 1.5em;
	background-color: #8b26cd;
	color: white;
	padding: 10px;
	text-align: center;	
	text-decoration: none;
	display: inline-block;
	border-radius: .1em;
}

.login-button:hover {
	background-color: #691d9b;
}

